body
  margin: 0
  padding: 0
  background-color: #222

// controls the direction of cube rotation
@-webkit-keyframes rotate
  0%
    -webkit-transform: rotateY(0)
  100%
    -webkit-transform: rotateY(360deg)

// cube dimension length
$side-length: 250px

.banner
  height: calc(95vh - 50px)
  padding-top: 50px

  font-family: sans-serif
  text-align: center

  .name
    font-size: 2.5em
    color: #ffffff

  .desc
    color: #b4b4b4

  .stage
    height: $side-length
    width: $side-length
    margin: auto
    margin-top: 50px
    margin-bottom: 100px

    -webkit-perspective: 1600px
    -webkit-perspective-origin: 50% -250px

    .cube
      -webkit-transform-style: preserve-3d
      -webkit-animation: rotate 5s infinite linear

      figure
        height: $side-length
        width: $side-length
        border: 2px solid white

        position: absolute

      // unique transformations for each face of the cube
      .front
        -webkit-transform: translateZ($side-length / 2)
      .back
        -webkit-transform: rotateY(180deg) translateZ($side-length / 2)
      .top
        -webkit-transform: rotateX(90deg) translateZ($side-length / 2)
      .bottom
        -webkit-transform: rotateX(-90deg) translateZ($side-length / 2)
      .left
        -webkit-transform: rotateY(-90deg) translateZ($side-length / 2)
      .right
        -webkit-transform: rotateY(90deg) translateZ($side-length / 2)


.wow
  height: 100vh
  background-color: white
