body {
  margin: 0;
  padding: 0;
	background-color: #222;
}

.banner {
  height: calc(95vh - 50px);
  padding-top: 50px;

  text-align: center;
  font-family: sans-serif;
}

.name {
  font-size: 2.5em;
  color: white;
}

.desc {
  color: #b4b4b4;
}

.stage {
  height: 300px;
  width: 300px;
  /*margin: auto;*/

  -webkit-perspective: 1600px;
  -webkit-perspective-origin: 50% -240px;
}

figure {
  display: block;
  position: absolute;
  height: 300px;
  width: 300px;
  border: 1px solid white;

  -webkit-transform-origin: 50% 50% 0;
}

.cube {
  -webkit-transform-style: preserve-3d;
}
/*.front { -webkit-transform: translateZ(150px); }
.back { -webkit-transform: rotateY(180deg) translateZ(150px); }
.top { -webkit-transform: rotateX(90deg) translateZ(150px); }
.bottom { -webkit-transform: rotateX(-90deg) translateZ(150px); }
.left { -webkit-transform: rotateY(-90deg) translateZ(150px); }
.right { -webkit-transform: rotateY(90deg) translateZ(150px); }*/


.banner2 {
  height: 100vh;
  background-color: white;
}
